@inherits LayoutComponentBase
@inject IJSRuntime jsRuntime
@inject ocm_spa.Services.IInterop Interop;

<div id="wrapper" class="clearfix">
    <NavMenu />

    @Body

    <FooterLayout />
</div>

@code {
    protected override async void OnAfterRender(bool firstRender)
    {
        if(firstRender)
        {
            await Interop.InitializeBootstrap("");
        }
    }
}            